Setup

In [52]:
# keep
import pandas as pd
from IPython.core.display import Markdown
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
dataset_folder = '../datasets/'
Markdown(f'De folder met datasets = **{dataset_folder}**')

De folder met datasets = **../datasets/**

# Centrummaten

## Vraag 1

Breedbandopgave

a. Gebruik het bestand **breedbandopgave.csv**. Het bestand heeft NA-waarden 'Onbekend', 'Niet gekend' en 'Unknown'. De eerste regel van bestand is een commentaar regel en die moet je overslaan. Verder worden decimale getallen genoteerd met een ','.
Lees dit bestand in, maar hou daarbij rekening met bovenstaande opmerkingen.

In [13]:
data = pd.read_csv(dataset_folder + 'breedbandopgave.csv',
                   skiprows=1, decimal=',', delimiter=',',
                   na_values=['Unknown', 'Niet gekend', 'Onbekend'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   streek                                          200 non-null    object
 1   gem sync speed                                  197 non-null    float64
 2   percentage huizen broadband minder dan 2Mbit/s  198 non-null    float64
 3   percentage supersnel internet (>24Mbit/s)       199 non-null    float64
 4   percentage dat broadband heeft tov huizen       199 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

b. Voeg een extra kolom genaamd `sync_speed` toe met daarin de afrondingen van de sync speed (afronden op 0 decimalen). Gebruik de methode `.round()`

In [14]:
data['sync_speed'] = data['gem sync speed'].dropna().round(0)

c. Wat is de modus?

In [15]:
data.sync_speed.mode()

0    6.0
Name: sync_speed, dtype: float64

d. Bepaal de mediaan.

In [16]:
data.sync_speed.median()

7.0

e. Bepaal het gemiddelde.

In [17]:
data.sync_speed.mean()

8.152284263959391

f. Importeer de functies uit hulpfuncties.py en gebruik de functie `uitschieters` om de uitschieters te identificeren en te verwijderen uit de gegevens. Sla het resultaat op in een nieuw Pandas Series.

In [20]:
from hulpfuncties import uitschieters

# index bevat de elementen die al dan niet een uitschieter zijn
index = uitschieters(data.sync_speed)

sync_speed_zonder_extremen = data.sync_speed[~index]

g. Bereken gemiddelde, median en modus opnieuw op de gegevens zonder uitschieters. Wat merk je op?

In [22]:
# We herhalen de mean, mode en median eventueel kunnen we een functie definiÃ«ren
def mean_median_mode(series: pd.Series):
    """
     Geeft gemiddelde, modus en mediaan van een pandas. Series object input is een rij van float of int
    :param series:
    """
    print(f"Het gemiddelde is:{series.mean()}")
    print(f"De mediaan is:{series.median()}")
    print(f"De modus is:{series.value_counts().idxmax()}")


mean_median_mode(sync_speed_zonder_extremen)

# Zoals te verwachten is enkel het gemiddelde veel gewijzigd

Het gemiddelde is:7.082474226804123
De mediaan is:7.0
De modus is:6.0

## Vraag 2

1. Wat is het gemiddelde percentage van aantal gezinnen met een breedband van minder dan 2Mbit (ga ervan uit dat elke streek evenveel inwoners telt)

In [23]:
percentage_2mbit = data['percentage huizen broadband minder dan 2Mbit/s']
percentage_2mbit.mean()

16.296464646464646

2. Wat is de mediaan van deze groep?

In [24]:
percentage_2mbit.median()

15.6

3. Wat is de modus?  Maak hierbij klassen met de formule van Sturges $m = \lceil 1 + log_2(n)\rceil$ waarbij $m$ het aantal klassen is dat je zal moeten gebruiken.

In [37]:
#Sturges: m = [1 + log2(n)]
import math
import numpy as np

nSturges = math.ceil(1 + math.log2(len(percentage_2mbit)))

Markdown(f'Het aantal klassen volgens <font color="blue">**Sturges**</font> is {nSturges}')

min, max = percentage_2mbit.agg(['min', 'max'])
klassen = np.linspace(start=min, stop=max, num=nSturges + 1).round(1)
pd.cut(percentage_2mbit, bins=klassen).value_counts().sort_index().to_frame()
pd.cut(percentage_2mbit, bins=klassen).mode().to_frame()

# pd.cut(data['percentage huizen broadband minder dan 2Mbit/s'], bins=nSturges).value_counts()
# gemiddelde is gemiddelde van de percentages aangezien de streken even groot zijn

Het aantal klassen volgens <font color="blue">**Sturges**</font> is 9

              percentage huizen broadband minder dan 2Mbit/s
(4.5, 8.0]                                                15
(8.0, 11.5]                                               32
(11.5, 15.0]                                              44
(15.0, 18.5]                                              44
(18.5, 21.9]                                              28
(21.9, 25.4]                                              14
(25.4, 28.9]                                              11
(28.9, 32.4]                                               5
(32.4, 35.9]                                               3

  percentage huizen broadband minder dan 2Mbit/s
0                                   (11.5, 15.0]
1                                   (15.0, 18.5]

## Vraag 3

In een onderzoek meten we in hoeverre kinderen een taalachterstand bezitten. Op de gegevens kunnen zowel het gemiddelde als de mediaan berekend worden. Welk meetniveau is hier gehanteerd?
1. nominale schaal
2. ordinale schaal
3. intervalschaal
4. er is te weinig informatie om dit te bepalen

In [ ]:
# Intervalschaal, want voor mediaan en gemiddelde moet je op de gegevens enkele <,=,>,+,- toepassen.
# De deling door n pas je niet toe op de gegevens, maar enkel op het resultaat van de '+'

## Vraag 4

Bij het inlezen van een serie scores is een fout gemaakt. De laagste waarde moet 21 zijn in plaats van 11. 
Na correctie is dit nog steeds de laagste waarde. Welke centrummaat is door de correctie altijd veranderd?
1. modus
2. mediaan
3. gemiddelde
4. mediaan en gemiddelde

In [ ]:
# Enkel het gemiddelde echt altijd.
# De modus misschien indien deze het meeste voorkomt. Als er slechts 2 gegevens zijn ingelezen in totaal kan ook de mediaan wijzigen, als n groter is dan 3 dan zal mediaan niet wijzigen.

### Vraag 5

We hebben de volgende scores: 3, 6, 9, 22, 9, 5, 8, 21, 9, 5, 3, 8, 9. Aan welke centrummaat is de score 9 gelijk?

1. het gemiddelde
2. de mediaan
3. de modus
4. het gemiddelde en de modus
5. het gemiddelde, de mediaan en de modus

In [38]:
# We gebruiken onze functie:
mean_median_mode(pd.Series([3, 6, 9, 22, 9, 5, 8, 21, 9, 5, 3, 8, 9]))
# Antwoord is optie 4: het gemiddelde en de modus.

Het gemiddelde is:9.0
De mediaan is:8.0
De modus is:9

### Vraag 6

De gemiddelde leeftijd van de mannelijke werknemers is 37,7. Voor de vrouwelijke is dit 31,4. 
De totale groep werknemers bestaat uit 27% vrouwen. Wat is de gemiddelde leeftijd van alle werknemers? 
(3 beduidende cijfers)

In [43]:
# we nemen hier het gewogen gemiddelde
Markdown(f"Het gemiddelde van alle werknemers is {37.7 * (1 - 00.27) + 31.4 * 0.27}")

# je kan dit ook oplossen met Numpy
leeftijden = [37.7, 31.4]
percentages = [1 - 0.27, 0.27]

Markdown(f"Het gemiddelde van alle werknemers met Numpy average is {np.average(leeftijden, weights=percentages)}")

Het gemiddelde van alle werknemers is 35.999

Het gemiddelde van alle werknemers met Numpy average is 35.999

### Vraag 7

In de groep zijn er 10 jongens die gemiddeld 3u per dag tv kijken. Er zijn 30 meisjes die gemiddeld 2u per dag tv kijken.
Hoeveel u per dag kijken deze jongeren gemiddeld tv? (3 beduidende cijfers)

In [47]:
# we nemen hier het gewogen gemiddelde
Markdown(f"Het gemiddelde voor alle jongeren is {(3 * 10 + 2 * 30) / 40}")

Het gemiddelde voor alle jongeren is 2.25

### Vraag 8

In de sportclub is de gemiddelde leeftijd van de driehonderd sporters 25 jaar.
De 10 bestuursleden zijn gemiddeld 60 jaar en de 500 supporters zijn gemiddeld 45 jaar.
Wat is de gemiddelde leeftijd van al deze mensen? (4 beduidende cijfers)

In [50]:
leeftijd = [25, 60, 45]
gewicht = pd.Series([300, 10, 500])
gewgem = sum(gewicht * leeftijd) / sum(gewicht)
Markdown(f"Het gemiddelde gewicht van de ganse groep is: {gewgem:.2f}")

# je kan dit ook oplossen met Numpy
leeftijden = [25, 60, 45]
aantallen = [300, 10, 500]
Markdown(
    f"Het gemiddelde gewicht van de ganse groep met Numpy average is: {np.average(leeftijden, weights=aantallen):.2f}")

Het gemiddelde gewicht van de ganse groep is: 37.78

Het gemiddelde gewicht van de ganse groep met Numpy average is: 37.78